<div>
    <h2>Add Student</h2>
    <div class="form-group">
      <label>First Name:
        <input 
        type="text"
   
        name="name"
        #studentName="ngModel"
        required
        minlength="4"
        [(ngModel)]="student.name" placeholder=" Name"/>
        <div *ngIf="studentName.errors?.required && studentName.touched" class="alert alert-danger"> First name is required</div>

        <div *ngIf="studentName.errors?.minlength && studentName.touched" class="alert alert-danger"> need at least 4 chars</div>
  
      </label>
    </div>
    <div class="form-group">
      <label  >Surename :
        <input 
         type="text"
     
        name="surename"
        #studentSurename="ngModel"
        required
        minlength="4" [(ngModel)]="student.surename" placeholder="Surename"/>
      </label>

    </div>
    <div class="form-group">
      <label>Classroom:    
              <select      [(ngModel)]="student.classroomId"  class="mdb-select md-form">
                  <option  [value]="item.id" *ngFor="let item of classrooms">{{item.name}}</option>
                </select>
        </label><br>
  
    </div>
    <!-- <button (click)="add()">Save</button> -->
    <a (click)="add()" class="btn btn-primary">Save <i class="fa fa-info-circle" ></i>
    </a>
  </div>
  