
  <input [(ngModel)]="searchValue" placeholder=" Search"/>
  <button (click)="search()"  type="button" data-dismiss="modal" class="btn">Search</button>
<div class="row">

  
  
  <!-- <div *ngIf="students?.length>0 ; else elseBlock"> -->
  
  
  
        <table class="table table-inverse">
            <thead>
              <tr>
               <th>Name</th>
                <th>Surename</th>
                <th>Class</th>
                <th>Actions</th>
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of students">
                <th>{{item.name}}</th>
                <th>{{item.surename}}</th>
                <th>{{item.classroom.name}}</th>
  
                <th> 
                  <!-- <a (click)="deleteStudent(item.id)" href="" routerLink="/students" class="btn btn-danger" data-toggle="confirmation" data-popout="true" name="delete">delete <i class="fa fa-info-circle" ></i>
                </a> -->
                <a (click)="openDialog(item.id)" href="" routerLink="/students" class="btn btn-danger" data-toggle="confirmation" data-popout="true" name="delete">delete <i class="fa fa-info-circle" ></i>
                </a>
                <!-- <button type="button" ng-click="delete()" confirm="Are you sure, {{name}}?" confirm-title="Please verify, {{name}}?" confirm-ok="Yes" confirm-cancel="No">Delete</button> -->
                <!-- <button  (click)="openDialog(item.id)">Del</button> -->
                <a  href="" routerLink="/students/edit/{{item.id}}" class="btn button">edit <i class="fa fa-info-circle" ></i>
                </a>


              </th>
  
              </tr>
            </tbody>
          </table>
  
      <a href="" routerLink="/students/create" class="btn btn-primary">Create <i class="fa fa-info-circle" ></i>
               </a>
  
  
  
  
  
  
  
    </div>
  
    <!-- <ng-template #elseBlock><h2>OOPS ! empty database</h2></ng-template> -->
  
    <div id="confirm" class="modal hide fade">
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>


    <script>
  $('button[name="remove_levels"]').on('click', function(e) {
  var $form = $(this).closest('form');
  e.preventDefault();
  $('#confirm').modal({
      backdrop: 'static',
      keyboard: false
  })
  .on('click', '#delete', function(e) {
      $form.trigger('submit');
    });
});
    
    </script>
  
  