
<!------ Include the above in your HEAD tag ---------->

<body>
  
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"   routerLink= "classrooms">
                                <i class="fa fa-bars"></i>
                            <span class="sidebar-title">   Classrooms</span>
                          </a>
                    
                    </li>

                    <li>
                        <a href="#"   routerLink= "students"> <i class="fa fa-bars"></i>
                            <span class="sidebar-title">   Students</span>
                          </a>
     
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            <span class="sidebar-title"> About</span>
                        </a>
                    </li>
                  
                </ul>
            </aside>            
        </div>
        <main id="page-content-wrapper" role="main">
        </main>
    </div> 
</body>