
<!------ Include the above in your HEAD tag ---------->

<body>
 
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"   routerLink= "classrooms">
                            <span class="sidebar-title">Classrooms</span>
                          </a>
                        <!-- <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                            <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                            <span class="sidebar-title">Management</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"  routerLink= "/classrooms"><i   class="fa fa-caret-right"></i>Classrooms</a></li>
                            <!-- <a class="nav-link" href="#">Classrooms </a> -->
                            <!-- <li><a href="#"  routerLink= "students"><i class="fa fa-caret-right"></i>Students</a></li>
                        </ul> --> 
                    </li>

                    <li>
                        <a href="#"   routerLink= "students">
                            <span class="sidebar-title">Students</span>
                          </a>
     
                    </li>
                    <!-- <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="sidebar-title">About</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>
                        </ul>
                    </li> -->
                  
                </ul>
            </aside>            
        </div>
        <main id="page-content-wrapper" role="main">
        </main>
    </div> 
</body>